ansible-compat==24.10.0
ansible-core==2.15.13
attrs==25.1.0
bracex==2.5.post1
cffi==1.17.1
click==8.1.8
click-help-colors==0.9.4
cryptography==44.0.0
enrich==1.2.7
importlib-resources==5.0.7
jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
molecule==6.0.3
packaging==24.2
pluggy==1.5.0
pycparser==2.22
pygments==2.19.1
PyYAML==6.0.2
referencing==0.36.2
resolvelib==1.0.1
rich==13.9.4
rpds-py==0.22.3
subprocess-tee==0.4.2
typing-extensions==4.12.2
wcmatch==10.0
