[Desktop Entry]
Name=MetaTrader 5 - {{ metatrader_instance_number }}
Exec=env WINEPREFIX="/home/metatrader/.mt5_{{ metatrader_instance_number }}" wine C:\\\\users\\\\Public\\\\Desktop\\\\MetaTrader\\ 5.lnk
Type=Application
StartupNotify=true
Path=/home/metatrader/.mt5_{{ metatrader_instance_number }}/dosdevices/c:/Program Files/MetaTrader 5
Icon=D0A6_terminal.0
StartupWMClass=terminal64.exe